body {
  margin: 0;
  background-color: rgb(253, 251, 251);
  font-family: "IBM plex mono";
}

header {
  background-color: #2FC18C;
  text-align: center;
  padding: 50px;
  font-size: 35px;
  color: #ffffff;
}
