body {
  padding: 0;
  margin: 0;
  background-color: rgb(253, 251, 251);
  font-family: Verdana, sans-serif;
}

#cabecalho {
  background-color: beige;
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 20px;
}

#titulo {
  letter-spacing: 5px;
}

#navegacao {
  margin-top: 80px;
  background-color: burlywood;
  padding: 1px 20px;
}

#navegacao ul {
  padding: 0;
  list-style-type: none;
}

.link_nav {
  padding: 4px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
}

.link_nav:hover {
  background-color: white;
}

.link_nav a {
  color: black;
  text-decoration: none;
}

#infos_gerais {
  padding-left: 20px;
  margin: 50px 0;
}

#sobre_mim {
  display: inline-block;
  margin-right: 200px;
}

#minha_foto {
  display: block;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
}

#sobre_mim a {
  color: gray;
  text-decoration: none;
  font-size: 12px;
}

#licoes, #licoes_aprendidas, #licoes_a_aprender {
  vertical-align: top;
  display: inline-block;
  margin-right: 50px;
  padding-top: 18px;
}

#conteudo_escrito {
  padding-left: 20px;
  margin-bottom: 100px;
}

#opiniao, #curiosidade {
  display: inline-block;
}

#opiniao {
  width: 600px;
}

#curiosidade {
  width: 600px;
  float: right;
  margin-right: 20px;
}

#tabela {
  margin: 0 auto;
}

#tabela, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#tabela th, #tabela td {
  padding: 10px;
}