body { background-color : rgb(253, 251, 251);
  color : green;
  line-height : 10px;
  font-family : Helvetica, Arial, Verdana, Tahoma,sans-serif}


#cabecalho { position : fixed;
  top : 0;}

.lado-direito { display : inline-block;
  color : white;
  position : relative;
  float : left;
  width : 40%;
  border : 1px solid black;
  margin : 1px;
  padding : 1px;}

.lado-esquerdo { display : inline-block;
  border : 1px solid yellow;
  width : 40%;
  position : relative;
  float : left;}
