body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#titulo {
  color: blue;
  font-size: 35px;
}

h2 {
  color: green;
  font-size: 22px;
  height: 10px;
}

h3 {
  height: 10px;
  font-size: 18px;
}

h4 {
  height: 2px;
  font-size: 16px;
}

.trybe {
  color: green;
}

#menu {
  border-bottom: 8px solid rgb (230, 230, 230);
}

#minha_foto {
  width: 300px;
}

#licoes_aprendidas {
  font-family: Impact, sans-serif;
  text-decoration: none;
  font-size: 15px;
}

#licoes_a_aprender {
  font-family: Impact, sans-serif;
  text-decoration: none;
  font-size: 15px;
}

.titulo3 {
  position: relative;
  left: 20px;
  line-height: 10px;
}

#rodape {
  position: absolute;
  right: 10px;
}

p {
  font-family: Impact, sans-serif;
  text-align: justify;
  text-decoration: none;
}