html,
body {
  width: 1366px;
  height: 768px;
}

body {
  background-color: rgb(253, 251, 251);
  line-height: 1.65;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(3, 107,82);
  font-size: large;
}

h1 {
  color: white;
}

h2 {
  font-family: sans-serif;
  font-size: large;
  color: tomato
}

li {
  color: teal;
}

.expectation {
  background-color: rgb(173, 204, 143);
  text-align: center;
}

.real {
  background-color: rgb(169, 132, 204);
  text-align: center;
}

.secret {
  background-color: rgb(248, 166, 136);
  text-align: center;
}

table {
  background-color: darkgrey;
  float: left;
  width: 40%;
  margin-top: 10%;
  margin-left: 15%;
}

#licoes_a_aprender {
  display: inline-block;
}

#licoes_aprendidas {
  display: inline-block;
}

article {
  text-align: center;
}

.lado-direito {
  float: left;
  width: 35%;
  margin-top: 7%;
  margin-bottom: 8.2%;
}

.lado-esquerdo {
  float: left;
  width: 40%;
  clear: both;
  margin-top: 5%;
}

img {
  display: block;
  float: left;
  width: 20%;
  margin-left: 5%;
  margin-top: 10%;
  border-radius: 15%;
}

aside {
  clear: both;
  text-align: center;
  margin-bottom: 10%;
  margin-left: 10%;
}

caption {
  font-size: xx-large;
}

footer {
  padding: 10px;
}
