body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
}

img {
  max-width: 400px;
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 10%;
}

#cabecalho {
  position: fixed;
  top: 0;
  height: 15%;
  width: 100%;
  background-color: lightcoral;
  text-align: center;
}

#cabecalho nav {
  text-align: left;
}

main {
  margin-top: 16%;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}

.licoes-container {
  float: left;
  width: 40%;
  padding-left: 2%;
  padding-top: 2%;
}

article {
  width: 40%;
  display: block;
  float: right;
  padding-right: 5%;
  padding-top: 5%;
}

.jornada-aside {
  clear: both;
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
}

#rodape {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}