body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  border: 0;
  padding: 7%;
}

header {
  position: fixed;
  top: 0;
}

nav {
  display: inline;
}

nav ol {
    display: inline;
}

nav ul {
  list-style-type: square;
  display: inline;
}
