body{background-color: rgb(253,251,251);
    margin: 10px;
}

#cabecalho{position: fixed;
    display: block;
    width: 98%;
    top:0;
    border:solid 3px black;
    text-align: center;
    margin: 5px; 
}

#licoes_aprendidas{display: inline-block;
    border:solid 3px black;
    margin-top: 90px;  
}

#licoes_a_aprender{display: inline-block;
    border:solid 3px black;  
}

#minha_foto{border:solid 3px black;
    display: inline-block;
    height: 250px;
    top:100px
}

#rodape{border:solid 3px black;
    position:end;
}