body{
    background-color: rgb(253, 251, 251);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}



#cabecalho{
    position: fixed;
    top: 0;
    background-color: #457d2b;
    
    width: 100%;
}
#titulo{
    color: #cfdfc7;
    padding: 20px;
}

.nav{
    background-color: teal;
    color: #cfdfc7;
    text-decoration: none;
    height: 20px;
    font-weight: bolder;
    position:relative;
}
#minha_foto{
    width: 150px;
    padding: 60px;
   
    
    
}

.principal{
    color: #3b3a3e;
    display: inline;
    margin-top: 100px;
    width: 80%;    
}
#artigo{
    
    width: 60%;
    display: inline-block;  
    text-align: justify;    
    
}

aside{
    margin-top: 130px;
    width: 16%;
    text-align: justify;
    float: right;
    padding: 40px;
    color: #3b3a3e;
    
} 



article{
    margin-top: 120px;
    display: inline-block;
    color: #3b3a3e;
    width: 75%;
    margin-right: 30px;
    background-color: #b7b2c3;   
    
    
}
article h1{
    padding: 20px;
    color: #3b3a3e;
    
   
    
    
}
article p{
    padding: 20px;
    color: #3b3a3e;
    text-align: justify; 
    float: right;  
    margin-top: -20px;  
}

.conteudo{
    width: 60%;
    float: right;
    margin-left: 0;
    padding: 0 auto;

}
.lessons{
    width: 40%;
    float: right;
    color: #3b3a3e;
    padding: 40px;
}
#rodape a{
    text-decoration: none;
    width: 100%;
    bottom: 0;  
    background-color: #457d2b;
    padding: 30px 100px;
    float: right;
    text-align: center;
    color: #cfdfc7;
    font-weight: bolder;
    font-size: 20px;
    
}