html{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(87, 0, 0);
}

#cabecalho{
  top: 0;
  background-color:white;
  margin: 0;
  padding: 0;
  
}

#cabecalho #titulo{
  text-align: center;
  margin: 0;
  padding: 0;
 
}

#minha_foto{
  width: 150px;
}