body {
  background: rgb(253, 251, 251);
  margin-left: 0%;
}

#cabecalho {
  position: fixed;
  top: 0;
}

#titulo {
  color: rgb(250, 252, 253);
  font-family: 'Noto Sans', sans-serif;
  background-color: black;
  margin-top: 0%;
  font-size: 25px;
  padding: 10px;
}

#minha_foto {
  padding: 90px 0px 0px 40px;
}

#licoes_aprendidas {
  padding: auto;
  font-family: 'Noto Sans', sans-serif;
  padding-left: 60px;

}

h2 {
  font-family: 'Noto Sans', sans-serif;
  padding-left: 45px;
}

#licoes_a_aprender {
  padding: auto;
  font-family: 'Noto Sans', sans-serif;
  padding-left: 60px;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

.aprendis {
  margin-bottom: 200px;
}

.lado-esquerdo {
  float: left;
  max-width: 45%;
  margin-left: 45px;
  font-size: 12px;
}

.lado-direito {
  float: right;
  max-width: 45%;
  height: 330px;
  margin-right: 45px;
  font-size: 12px;
}

.seccao {
  text-align: center;
  max-width: 100%;
  margin-left: 45px;
  line-height: normal;
}

#rodape {
  border-top: 1cm;
  border-color: black;
  margin-left: 45px;
}

.link {
  margin-left: 45px;
}