body {
  Width: 1366px;
  height: 768px;
  font-family: 'Montserrat', courier;
  background-color: rgb(253, 251, 251);
  Top: 0;
  position: fixed; 
}

h3 {
  margin: 0 0 20px;
}

h2{
  margin: 80px 20px 10 0;
}

p {
  margin-bottom: 5px;
}

img {
  float: right ;
  display: block;
  width: 12%;
  margin-right: 55%;
}

.licoes{
  float: right ;
  margin: 10px;
  padding: 20px;
  display: inline-block;
}

.aprendidas {
  display: inline-block;
  margin-top: 10px; 
}
.aprendidas h2{
  margin-left: 10px;
}

.aprender {
  display: inline-block;
}

.aprender h2{
  margin-left: 20px;
}

.navigation {
  background-color: lightgrey;
  padding: 30px;
  width: 50%;
}

.navigation ul {
  padding: 5px 0;
}

.navigation li {
  margin-left: 140px;
  list-style-type: none;
  display: inline;
}

.navigation li a {
  color: green;
  text-decoration: none;
}
.article {
  padding: 15px;
}

.article-small {
  display: inline-block;
  width: 30%;
  margin-right: 10px;
  padding: 15px;
  margin-top: 10px
}
.aprendizado {
  max-width: 1200px;
  margin: 10px;
  padding: 10px;
}

.main-aprendizado {
  background-color: lightgrey;
  width: 50%;
  display: inline-block;
}
.aconteceu {
  background-color: lightgrey;
  margin: 10px;
  padding: 20px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
