
#titulo{
    color: rgba(120, 1, 131, 0.747);
}
body{
    margin: 0;
    background-color: rgb(253,251,251);
}
    #cabecalho{
            top:0;
            width: 100%;
            background-color: royalblue;
            position: fixed;
            font-size: 20px;
            padding: 3px;
            text-align: center;
       
    }
    #minha_foto{
        position: fixed;
        top: 106px;
        left: 0;
        width: 15%;
        
    }
    .alinhamento{
        margin-top: 106px;
       margin-left: 15%;
       
       
    }
    .alinhamento2{
        margin-top: -278px;
        margin-left: 48%;
    }
    #font{
        font-size: 25px;
    }
    #licoes_aprendidas{
        font-size: large;
    }
    .licoes_a_aprender{
        font-size: large;
    }
   
    
