body {
  font-family: "Hina-Mincho";
  margin: 0;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  padding: 2px 10px;
  color: aqua;
  background-color: seagreen;
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
}

#corpo {
  position: relative;
  margin: 0;
  top: 60px;
  bottom: 200px; 
  left: 0;
  right: 0;
  padding: 5px;
}

#foto {
  display: inline-block;
  margin: 0;
  padding: 10px 2px;
  float: left;
}

.Listas-de-Habilidades {
  margin: 0;
  display: inline-block;
  float: right;
}

#Licoes_aprendidas {
  display: inline-block;
  margin: 0;
  float: left;
  position: absolute;
  left: 500px;
}

#licoes_a_aprender {
  display: inline-block;
  margin: 0;
  float: right;
  position: absolute;
  left: 250px;
}

.artigo {
  position: relative;
  top: 350px;
  display: block;

}

.nota_sobre_projeto {
  position: relative;
  top: 400px;
}

.button {
  position: relative;
  top: 450px;
  color: black;
  background-color: blueviolet;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-left: 15px;
}

#rodape {
  position: relative;
	top: 600px;
  margin: 0px;
  background-color: #251;
}

