*{
  background-color: rgb(253, 251, 251);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#cabecalho{
    width: 100%;
    background-color: slategray;
    position: fixed;
    top: 0;
}

#cabecalho h1{
    background-color: slategray;
    text-align: center;
}

#minha_foto{
  width: 300px;
}

.lado-esquerdo{
    display: inline-block;
}

.lado-direito{
    display: inline-block;
}