body {
  background-color: rgb(253, 251, 251);
  font-family: 'Montserrat';
  color: blue;
  font-size: 15px;
  line-height: 2;
  border: solid;
  margin-top: 150px;
  padding: 8px;
}

#cabecalho {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  background-color: black;
  left: 0;
}

#minha_foto {
  display: inline-block;
}

div {
  margin: 30px;
}

a {
  float: right;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
  color: blue;
}

ol {
  float: left;
  width: 400px;
  height: 400px;
  line-height: 30px;
}

ul {
  float: left;
  width: 400px;
  height: 400px;
  line-height: 30px;
}

#lista {
  display:inline-block;
}

.lado-esquerdo {
  float: left;
  width: 40%;
}


.lado-direito {
  width: 40%;
  float: right;
}

#tabela {
  display: inline-block;
}

#sectiontable {
  text-align: center; 
  margin-bottom: 70px;
}

#rodape {
  margin: 20px;
  text-align: center;
  width: 100%;
  display: inline-block;
  clear: both;
}
