@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato:400,400i,900,900i&display=swap');
body {
  --cor_primaria: #ff8707;
  --cor_primaria_opaca: #febb74;
  --cor_fundo: #fdfbfb;
  --padding_costum: 40px;
  background-color: var(--cor_fundo);
  font-family: 'lato', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 2em;
  box-sizing: border-box;
}

header {
  position: fixed;
  /* pré requisito */
  top: 0;
  /* pré requisito */
  background-color: var(--cor_primaria);
  width: 100%;
  text-align: center;
  padding: 50px 0;
  z-index: 999;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  line-height: 38px;
  font-weight: 500;
  color: rgb(253, 251, 251);
}

h2 {
  font-style: italic;
  font-weight: 900;
  padding: 20px 0;
  font-size: 1em;
}

/* Botoes redes sociais */

nav.menu_social {
  margin-top: 200px;
}

.menu_social ul {
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
  list-style-type: none;
}

a[class^="social"] {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: -1000%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 55%;
}

a[class^="social"]:hover {
  opacity: 100%;
}

a.social_linkedin {
  background-image: url(../img/linkedin.png);
}

a.social_github {
  background-image: url(../img/github.png);
}

a.social_codpen {
  background-image: url(../img/codpen.svg);
  background-size: 90%;
}

a.social_behance {
  background-image: url(../img/behance.png);
  background-size: 100%;
}

.conteiner_avatar {
  border: solid 5px var(--cor_fundo);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: calc(20% - 120px - (var(--padding_costum)*2));
  top: 80px;
}

.conteiner_avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

article[class^="lado"], aside[class^="lado"] {
  width: calc(50% - var(--padding_costum));
}

section {
  padding-bottom: var(--padding_costum);
}

section.duas_colunas {
  display: flex;
}

.lado-esquerdo {
  /* float: left; */
  padding-right: var(--padding_costum);
}

.lado-direito {
  /* float: right; */
  padding-left: var(--padding_costum);
}

section {
  width: 60%;
  margin: auto;
  /* clear: both; */
}

table {
  margin: auto;
  width: 100%;
  text-align: center;
}

thead {
  background-color: var(--cor_primaria);
  color: var(--cor_fundo);
}

tbody>tr:nth-child(even) {
  background-color: var(--cor_primaria_opaca);
}

footer {
  background-color: var(--cor_primaria);
  text-align: center;
  color: var(--cor_fundo);
}