@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {

  --color-theme: rgb(53, 31, 57);

  --white: rgb(253, 251, 251);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

body {
  background-color: var(--white);
  height: 100vh;
  color: var(--color-theme);
}

main {
  padding-top: 70px;
  padding-bottom: 100px;
}

aside {
  float: right;
  width: 40%;
  padding: 1rem;
}

article {
  clear: both;
  margin: 1rem;
}

h3 {
  font-size: 30px;
}

h1 {
  font-weight: 300;
}

ul , ol {
  line-height: 16px;
}

#cabecalho {
  position: fixed;
  background-color: var(--color-theme);
  color: white;
  width: 100vw;
  height: 70px;
  padding: 1rem;
  top: 0;
}

#minha_foto {
  width: 200px;
  float: left;
  margin: 0 2rem 2rem 0;
  border-bottom-right-radius: 10px;
}

.learn {
  margin-top: 10px;
}

.learned {
  float: left;
  margin-right: 2rem;
  margin-left: 2rem;
}

#rodape {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100px;
  padding: 10px;
  background-color: var(--color-theme);
  color: var(--white);
}

#rodape a {
  color: var(--white);
}

table * {
  border: var(--color-theme) 2px solid;
  padding: 0 10px;
}

table {
  margin: 10px;
}