
#titulo{
    color: rgba(120, 1, 131, 0.747);
}
body{
    margin: 0;
    background-color: rgb(253,251,251);
}
    #cabecalho{
            top:0;
            width: 100%;
            background-color: royalblue;
            position: fixed;
            font-size: 20px;
            padding: 3px;
            text-align: center;
            z-index: 2;
       
    }
    #minha_foto{
        position: absolute;
        z-index: 1;
        bottom: 0;
        top: 108px;
        left: 0;
        width: 15%;
        
    }
    .alinhamento{
        margin-top: 106px;
       margin-left: 15%;
       
       
    }
    
    #font{
        font-size: 25px;
    }
    #licoes_aprendidas{
        font-size: large;
    }
    .licoes_a_aprender{
        font-size: large;
    }
   .rodape1{
       background-color: salmon;
       bottom: 0;;
   }
   
    
