body {
    background-color: rgb(253, 251, 251);
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 30px;
}

#cabecalho {
    top: 0;
    position: fixed;
   /*  background-color:#9e2a2b;
    border: 8px #540b0e;
    padding: 1em;
    color: white;
    text-align: center;
    min-width: 100%; */
}

#minha_foto {
    width: 200px;
    margin-top: 30px;
    margin-left: 10px;
}

#licoes_aprendidas {
    margin-left: 10px;
    margin-top: 30px;
}

#licoes_a_aprender {
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 50px;
}

#rodape {
    background-color:#9e2a2b;
    padding: 5px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: left;
    margin-top: 100px;
}

#rodape p {
    margin-left: 20px;
    color: white;
}

#botton {
    background-color: #9e2a2b;
    color: white;
    margin-top: 50px;
    padding: 8px;
    text-decoration: none;
    border-radius: 5%;
    margin-left: 30px;
}

article {
    margin-top: 50px;
}

.lado-direito {
    float: right;
    margin-left: 30px;
    max-width: 50%;
    text-align: left;
    margin-right: 20px;
    display: inline-block;
  
}

.lado-esquerdo {
   margin-left: 30px;
   max-width: 45%;
   float: left;
}

div {
    margin-bottom: 100px;
}

   
