* {
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
  margin: auto;
  font-family: "Roboto Slab";
  font-size: 16px;
}

a {
  text-decoration: none;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(86, 171, 145);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titulo {
  color: rgb(253, 251, 251);
  text-align: center;
  padding: 40px;
  font-size: 45px;
}

#navegacao_lista {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 300px;
  padding: 10px;
}

.navegacao_link {
  color: rgb(253, 251, 251);
}

.navegacao_link:hover {
  color: rgb(153, 226, 180);
}

#perfil {
  display: flex;
  align-items: center;
  margin-top: 140px;
}

.perfil_bio {
  padding: 100px;
  line-height: 30px;
}

.perfil_titulo {
  color: rgb(86, 171, 145);
}

#minha_foto {
  padding: 50px 0 50px 100px;
}

.licoes_titulo {
  text-align: center;
  padding: 40px;
  color: rgb(86, 171, 145);
  font-size: 50px;
}

.licoes_container {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: 0 auto;
}

#licoes_box {
  padding: 50px;
  line-height: 25px;
}

#licoes_aprendidas , #licoes_a_aprender {
  margin-top: 20px;
}

.lado_esquerdo {
  margin: 0 auto;
  padding: 40px;
  border: solid 1px rgb(86, 171, 145);
  max-width: 50%;
  text-align: center;
  display: inline-block;
}

#aprendizados {
  display: flex;
  margin-top: 60px;
}

.lado_esquerdo h2 {
  color: rgb(86, 171, 145);
}

.lado_esquerdo p h2 {
  line-height: 30px;
}

.lado_direito {
  max-width: 200px;
  border: solid 1px rgb(86, 171, 145);
  margin: 0 auto;
  padding: 30px;
}

.lado_direito span {
  font-weight: 500;
  font-size: 20px;
  color: rgb(86, 171, 145);
  line-height: 30px;
}

#tabela {
  padding: 50px;
  text-align: center;
}

.tabela_titulo {
  color: rgb(86, 171, 145);
  padding: 15px;
}

.tabela_aprendizado {
  border-spacing: 20px;
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 40%;
  border: 1px solid rgb(86, 171, 145);
}

.tabela_aprendizado th {
  width: 20%;
}

#rodape {
  background-color: rgb(86, 171, 145);
  height: auto;
  padding: 20px;
  margin-top: 40px;
}

.rodape_link {
  text-align: center;
}

.rodape_icon {
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
}

.rodape_frase {
  color: rgb(253, 251, 251);
  font-size: 20px;
  margin: 0;
}
