body {
  margin: 0;
  text-align: left;
  line-height: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  width: 100%;
  height: 100px;
  top: 0;
  position: fixed;
  background-color: rgb(60, 182, 44);
}

#cabecalho h1 {
  margin: 30px;
  font-style: bold;
}

main {
  padding: 0 15px;
  margin-top: 100px;
  background-color: rgb(253, 251, 251);
}

#foto {
  height: 400px;
  padding: 50px;
  margin-top: 90px;
}

#minha_foto {
  width: 250px;
  border-radius: 10%;
  border: 20px solid whitesmoke;
}

#listas {
  font-size: 10px;
}

#licoes_aprendidas {
  margin-left: 0;
  text-align: left;
  display: inline-block;
}

#licoes_a_aprender {
  text-align: left;
  display: inline-block;
}

#artigo {
  font-size: 20px;
}

.lado-esquerdo {
  width: 50%;
  float: left;
  left: 100px;
  text-align: left;
  position: static;
}

h2 {
  font-size: 20px;
}

.lado-direito {
  padding: 0 0 0 20px;
  width: 45%;
  float: right;
  left: 100px;
  text-align: left;
  position: static;
}

  #rodape {
  height: 0;
  padding: 30px;
  clear: both;
  background-color: rgb(60, 182, 44);
}
  #icones i {
  font-size: 20px;
  margin: 0 20px 0 0;
  }

.tabela {
  float: right;
}

#icones {
  float: left;
}

.social {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}