body{

    background-color: rgb(253, 251, 251);
    
}

#cabecalho{

    position:fixed;
    top:0%;
    width: 100%;
    background-color: rgb(131, 173, 149);
    margin: 0%;

}

#titulo{

    color: rgb(41, 10, 245);
    text-align: center;
}

#minha_foto{

    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    padding: 80px 35% 80px;;

}

.lado-esquerdo{

    width: 80%;
    font-size: 20px;
    line-height:25px;
    float: left;
    margin-bottom: 50px;
}

.lado-direito{
    
    height: 100px;
    width:20%;
    float: right;

}

table{
    width: 100%;
    border:solid 2px white;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 30px;
    
}

tr,td{

    border:solid 2px white;
    padding: 2px;
}

#titulo-tabela{

    color: blue;
    font-size: 35px;
}

#linha1-tabela{

    color: darkgoldenrod;
    font-size: 20px;
}

.licoes{

    display: inline-block;
    padding: 20px 150px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

.artigo{

    display: inline-block;


}



