body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50%;
}

#titulo {
  text-align: center;
}

#minha_foto {
  width: 200px;
  height: 200px;
  margin-top: 80px;
}