body {
  background-color: rgb(253, 251, 251);
  }

#cabecalho {
  position: fixed;
  top: 0;
  color: rgb(255, 253, 253);
  text-align: center;
  width: 100%;
  background-color: rgb(5, 35, 73);
  }

main {
  background-color: rgb(15, 6, 95);
  margin: 20px;
  }

#minha_foto {
  width: 150px;
  border-radius: 30%;
  margin-top: 100px;
  margin-left: 110px;
  display: block;
  }
#meu-nome {
    color: rgb(15, 15, 129);
    font-style: italic;
    margin-left: 20px;
    border-style: double;
    width: 400px;
    text-align: center;
    display: block;
  }

section {
  background-color: rgb(234, 236, 245);
  }

section h1 {
  margin: 20px;
  color: rgb(204, 112, 7);
  text-align: center;
  width: 400px;
  }

section #licoes_aprendidas {
  font-size: 20px;
  color: white;
  display: inline-block;
  margin: 20px 15px;
  border-style: solid;
  background-color: rgb(223, 223, 223);
  }

section #licoes_a_aprender {
  font-size: 20px;
  color: rgb(252, 236, 165);
  display: inline-block;
  margin: 20px 15px;
  border-style: solid;
  background-color: rgb(41, 41, 43);
  }
  
article {
  width: 30%;
  color: white;
  margin-left: 50px;
  font-size: 20px;
  display: inline-block;
  margin-block-end: 5px;
  text-align: center;
  }

footer {
  text-align: center;
  font-size: 30px;
  }

nav {
  text-align: center;
  }

  aside {  
  width: 30%;
  color: white;
  margin-left: 50px;
  font-size: 20px;
  display: inline;
  margin-block-end: 5px;
  text-align: center;
  float: right;
  }

h3 {
  color:white;
  }

