body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  z-index: 1;
  float: none;
  width: 100%;
  top: 0;
  background-color: #345995;
}

#minha_foto {
  position: relative;
  float: left;
  width: 200px;
  top: 80px;
}

#licoes_aprendidas {
  position: absolute;
  top: 80px;
  left: 220px;
}

#licoes_a_aprender {
  position: absolute;
  top: 80px;
  left: 720px;
}

#rodape {
  position:relative;
  top: 768px;
  height: 80px;
  background-color: #345995;
}
