body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: #4ba891;
  padding: 30px;
  border: 20px;
  width: 100%;
}

#minha_foto {
  margin-top: 180px;
  border-style: double;
  border-color: #4ba891;
  border-radius: 50%;
  width: 40%;
}
