body{
    background-color: rgb(253, 251, 251);
    font-family: "Karla", sans-serif;
}

#cabecalho{
    position: fixed;
    top: 0;
    text-align: center;
    font-size: 20px;
}

main{
    margin-top: 150px;
}

#minha_foto{
    position: absolute;
    top: 10%;
    width: 200px;
    height: 200px;
    left: 1%;
    margin-right: 200px;
    border-radius: 50%;
    float: left;
    margin-top: 100px;
}

#artigo{
    height: 50px;
    padding: 15%;
    margin-top: 250px;
    max-width: 1200px;
    margin-left: -15%;
}

h2{
  font-size: 18px;
}

#licao1 {
    display: inline-block;
    width: 30%;
}

#licao2 {
    display: inline-block;
    width: 30%;
}

#artigo-secao1{
    display: inline-block;
    width: 30%;
}

#artigo-secao2{
    width: 30%;
    display: inline-block;
    padding-bottom: 40px;
}