body {
  background-color: rgb(253, 251, 251);
  padding-top: 6%;
  line-height: normal;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: silver;
  color: forestgreen;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: large;
  margin: 2px 1em 0 auto;
  padding: initial;
  margin-top: 0.1%;
  border: double;
}

#rodape {
  text-align: center;
}

.lado-esquerdo {
  width: 15%;
  display: inline-block;
}

.lado-direito {
  width: 30%;
  display: inline-block;
}
