body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lightgreen;
  color: skyblue;
  text-align: center;
}

#titulo {
  
}

#nav {
  font-size: 16px;
  background-color: lightgreen;
  position: fixed;
  width: 100%;
}

#licoes_aprendidas {
  font-size: 14px;
  float: left;
  padding: 50px;
  margin-left: 50px;
  margin-right: 100px;
  background-color: lightgreen;
  border: solid;
}

#licoes_a_aprender {
  font-size: 14px;
  padding: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: lightgreen;
  border: solid;
}

#minha_foto {
  height: 150px;
}

#article {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  width: 45%;
  padding: 30px;
  float: left;
}

#section {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  width: 45%;
  padding: 30px;
  float: right;
}

#rodape {
  text-align: center;
}