body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    background-color: forestgreen;
    width: 100%;
    text-align: center;
}

#titulo {
    color: white;
}

#minha_foto {
    width: 200px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10%;
    
}

#meu_nome {
    margin-left: 38px;
    margin-top: 10px;
}

h3 {
    margin-left: 30px;
    margin-top: 30px;
}

.listas {
    display: inline-block;
}

#rodape {
    background-color: green;
    height: 30px;
}

#trybe {
    padding: 5px;
    color: white;
}

article {
    display: inline-block;
    width: 600px;
    border-style: dashed;
    text-align: center;
    margin: 30px;
}

