body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    margin-top: 0;
    padding: 10px;
    background-color: #000000;
}

#titulo {
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 35px;
}

#minha_foto {
    border-radius: 50%;
    margin-top: 25px;
    width: 40%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#licoes_aprendidas {
    font-family: 'Fira Code', sans-serif;
    font-size: 20px;
    display: inline-block;
}

#licoes_a_aprender {
    font-family: 'Fira Code', sans-serif;
    font-size: 20px;
    display: inline-block;
}

.listas {
    padding: 30px 70px;
    display: inline-block;
}

#rodape {
    background-color: #000000;
    padding: 30px;
}

#infos {
    font-family: 'Fira Code', sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}

.links {
    padding: 20px;
    font-family: 'Fira Code', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

.center {
    display: flex;
    justify-content: space-between;
    padding-left:40% ;
    padding-right:40% ;
}

.lists {
    display: flex;
    justify-content: space-between;
    padding-left:5% ;
    padding-right:5% ;
}

.article {
    padding: 50px;
    background-color: #eee;
    align-items: center;
}

.article p {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fira Code', sans-serif;
    font-size: 15px;
    text-align: justify;
}

h2 {
    font-family: 'Fira Code', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.aside {
    padding: 50px;
}

.aside p {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fira Code', sans-serif;
    font-size: 15px;
    text-align: justify;
}