body{

    background-color: rgb(253, 251, 251);
    
}

#cabecalho{

    position:fixed;
    top:0%;
    width: 100%;
    background-color: rgb(131, 173, 149);
    margin: 0%;

}

#titulo{

    color: rgb(41, 10, 245);
    text-align: center;
}

#minha_foto{

    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    padding: 80px 200px 80px;

}

article{

    width: 80%;
    font-size: 20px;
}

aside{
    
    background-color: teal;
    height: 100px;
    width:20%;

}

table{
    width: 80%;
    border:solid 2px white;
    background-color: black;
    color: white;
    text-align: center;
    padding:0,5%;
    
}



