body{
    background-color: rgb(253, 251, 251);
}

header{
    top: 0px;
    position: fixed;
    left: 150px;
}

#minha_foto{
    width: 100px;
}

li{
    font-family: sans-serif;
    color: #B22222;
    font-weight: 200;
}

h1{
    font-family: serif;
    color: #8B0000;
    font-size: 35px;
    letter-spacing: 1px;
}

.descricao{
    font-weight: 540;
    font-size: 15px;
}

a{
    text-decoration: none;
}

.artigo-curso{
    width: 40%;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
}

.lado-esquerdo{
    border: blue;
}

.lado-direito{
   margin-top: 50px;
}

ul, ol{
    width: 25%;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

ul{
    margin-left: 5px;
}

ol {
    margin-top: 10px;
}