body {
  margin: 5px;
  padding: 5px;
  border: 2px solid;
  background-color: rgb(253, 251, 251);
  position: fixed;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
    line-height: 12px;
}

header {
   top: 0;
   position: fixed;
}

.lado-esquerdo {
  float: left;
}

.lado-direito {
 float: right;
}
