body {
  background-color: rgb(253, 251, 251);
}

#cabecalho{
  position: fixed;
  top: 0;
  border: solid black;
  background-color: black;
  width: 100%;
}

h1{
  font-size: 30px;
  text-align: center;
  font-family: monospace ;
  color: purple;
  line-height: 50%;
}

#minha_foto{
  margin-top: 100px;
}

.section-style{
  display: inline-block;
  font-family: monospace 
}

.lado-esquerdo{
  display: inline-block;
  align-items: left;
  border: solid black;;
  width: 400px;
  padding: 10px 2px;
}

.lado-direito{
  display: inline-block;
  /*align-items: right;
  border: solid black;;
  width: 30%;*/
  /*position:absolute;
right:0px;*/
padding: 10px 2px;
width:200px;
background-color: blue;

}

