body{
    background-color: rgb(253, 251, 251);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color: black;
}

#cabecalho{
   position:fixed;
   top: 0px;
   left:0px
}

#titulo{   
    font-family: fantasy;
    color: olivedrab; 
}

#minha_foto{
    width: 250px;
    height: 250px;
    margin-top: 100px;
    display: block;
    border-radius: 5%;
}

#info{
    background-color: black;
    color: white;  
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    padding:20px;
    display: block;
    left: 500px;
    margin: auto;
}

#licoes_aprendidas{
    margin: auto;
    line-height: 21px;
}

#licoes_a_aprender{
    margin: auto; 
    line-height: 21px;  
}
.lado-esquerdo{
    border: 5px solid olivedrab;
    width: 200px;
    display: inline-block;
    margin-left: 20px;
} 

.lado-direito{
    border: 5px solid olivedrab;    
    width: 200px;
    display: inline-block;   
    margin-right: 100px; 
    margin:20px;
}

#rodape p{
    bottom: 10px; 
}

#table{
    margin-left: 50px;
    border: 2px solid olivedrab
}

#firstt{
    width: 600px;
    right: 100px;
    bottom: 350px;
    border: 3px solid olivedrab;    
}

#secondt{
    width: 600px;
    right: 100px;
    bottom: 250px;
    border: 3px solid olivedrab;
}