body {
  background-color: rgb(253, 251, 251);
}

h1 {
    font-family: Architects Daughter;
}

h2 {
  text-align: center;  
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 99%;
  background-color: #01497C;
  border: 2px solid black;
}

#titulo {
  text-align: center;
}

#minha_foto {
  width: 200px;
  margin-top: 120px;
  display: block;
}

#licoes_aprendidas {
  display: inline-block;
  font-family: Architects Daughter;
}

#licoes_a_aprender {
  display: inline-block;
  font-family: Architects Daughter;
}

#rodape {
  margin-bottom: 2px;
  bottom: 0;
}

#article{
    font-family: monospace;
    font-size: 15px;
    line-height: 20px;
}

#passagem {
  border: 2px solid #013A63;
  padding: 20px 30px;
  font-family: monospace;
  font-size: 12px;
  margin-left: 25%;
  margin-right: 25%;
}

a {
  color:#61A5C2;
  font-family: Architects Daughter;
}

#section1 {
    margin-left: 5%;
    margin-right: 5%
}