@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato:400,400i,900,900i&display=swap');
:root {
  --main-bg-color: rgb(253, 251, 251);
  --primary-color: rgb(255, 135, 7);
  --second-color: rgb(254 187 116);
  --padding_costum: 40px;
}

body {
  background-color: var(--main-bg-color);
  font-family: lato, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 2em;
  box-sizing: border-box;
}

header {
  position: fixed;
  /* pré requisito */
  top: 0;
  /* pré requisito */
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  padding: 50px 0;
  z-index: 999;
}

h1 {
  font-family: Alfa Slab One, cursive;
  font-size: 40px;
  line-height: 38px;
  font-weight: 500;
  color: rgb(253, 251, 251);
}

h2 {
  font-style: italic;
  font-weight: 900;
  padding: 20px 0;
  font-size: 1em;
}

/* Botoes redes sociais */

.menu_social {
  margin-top: 200px;
}

.menu_social ul {
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
  list-style-type: none;
}

.social_linkedin, .social_github, .social_codpen, .social_behance {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: -1000%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 55%;
}

.social_linkedin:hover, .social_github:hover, .social_codpen:hover, .social_behance:hover {
  opacity: 100%;
}

.social_linkedin {
  background-image: url('../img/linkedin.png');
}

.social_github {
  background-image: url('../img/github.png');
}

.social_codpen {
  background-image: url('../img/codpen.svg');
  background-size: 90%;
}

.social_behance {
  background-image: url('../img/behance.png');
  background-size: 100%;
}

.conteiner_avatar {
  border: solid 5px var(--main-bg-color);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: calc( 20% - 120px - ( var(--padding_costum) *2));
  top: 80px;
}

.conteiner_avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lado-esquerdo, .lado-direito {
  width: calc(50% - var(--padding_costum));
}

section {
  padding-bottom: var(--padding_costum);
  width: 60%;
  margin: auto;
}

.duas_colunas {
  display: flex;
}

.lado-esquerdo {
  padding-right: var(--padding_costum);
}

.lado-direito {
  padding-left: var(--padding_costum);
}

table {
  margin: auto;
  width: 100%;
  text-align: center;
}

thead {
  background-color: var(--primary-color);
  color: var(--main-bg-color);
}

tbody>tr:nth-child( even) {
  background-color: var(--second-color);
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  color: var(--main-bg-color);
}