body {
  background-color: rgb(253, 251, 251);
  font-family: Roboto, sans-serif;
  margin: 0;
}
main{
  margin: 10px;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(107, 112, 92);
  padding: 10px;
  text-align: center;
}

#titulo{
  font-family: Architects Daughter, cursive;
  color: rgb(254, 254, 254);
  text-shadow: 2px 2px rgb(24, 24, 24);
  text-align: center;
  font-weight: 500;
}

nav ul li{
  display: inline-block;
  font-size: 15px;
  margin: 0 15px;
}

nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(254, 254, 254);  
}

nav ul li a:hover{
  color: rgb(203, 153, 126);
  font-weight: 500;
  border-bottom: 3px solid rgb(203, 153, 126);
  padding: 5px;
}

#minha_foto{
  height: 200px;
  border: 5px solid rgb(203, 153, 126);
  float: left;
  margin: 0 15px 0 0;
}

.conteudo-texto{
  display: flex;
  align-items: center;
  margin-top: 150px;
  background-color: rgb(238, 238, 238);
  padding: 20px;
}

.quote{
  font-family: Architects Daughter, cursive;
  display: flex;
  align-items: center;
  background-color: rgb(238, 238, 238);
  padding: 20px;
  margin: 15px auto;
  max-width: 70%;
}

.icon-quote{
  margin: 0 30px;
  font-size: 35px;
  color: rgb(195, 195, 195);
}
