body{
    background-color: rgb(253, 251, 251);
    margin: 0;
}
#cabecalho{
    top: 0;
    position: fixed;
    background-color: #6495ED;
    width: 100%;
}
#titulo{
    text-align: center;

}
#minha_foto{
    width: 300px;
}
