body{
    background-color: rgb(253, 251, 251);
}

header{
    top: 0px;
    position: fixed;
    left: 150px;
}

#minha_foto{
    width: 100px;
}

li{
    font-family: sans-serif;
    color: #B22222;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 22px
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #8B0000;
    font-size: 35px; 
}

a{
    text-decoration: none;
} 

.descrition{
    display: inline-block;
    width: 300px;
    font-size: 15px;
    margin: 20px;
}