body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10px;
  background-color: navajowhite;
}

#links {
  text-align: center;
  position: fixed;
  top: 55px;
  width: 100%;
  word-spacing: 30px;
  font-size: 100%;
}

#titulo {
  text-align: center;
  font-family: 'Oswald', 'sans-serif';
  font-size: 25px;
  font-style: inherit;
  color: black;
}

#minha_foto {
  width: 200px;
  height: 200px;
  padding-left: 43%;
  padding-top: 80px;
}

h2 {
  font-family: 'ZCOOL Kuaile', 'sans-serif';
  font-size: 18px;
  color: black;
}

#licoes_aprendidas {
  margin-left: auto;
  background-color: oldlace;
}

#licoes_a_aprender {
  margin-left: auto;
  background-color: navajowhite;
}

#rodape {
  padding-top: 50%;
}

.article {
  text-align: center;
  font-family: 'ZCOOL Kuaile', 'sans-serif';
}

.lado-esquerdo {
  padding-top: auto;
  float: left;
  position: absolute;
  display: block;
  margin-right: 65%;
  border: 2px solid black;
  background-color: navajowhite;
  padding-left: 10px;
  width: 20%;
  height: 55%;
  line-height: 18px;
}

.lado-direito {
  font-size: 17px;
  padding-left: 10%;
  padding-right: 10%;
  float: right;
  line-height: 18px;
}

table {
  border: 2px solid black;
  margin-left: 55%;
  margin-right: 30%;
  display: block;
  background-color: oldlace;
}