body {
    margin: 0;
    text-align: left;
    line-height: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 251, 251);
  }
  #cabecalho {
    width: 100%;
    height: 100px;
    top: 0px;
    position: fixed;
    background-color: rgb(60, 182, 44);
  }
  #cabecalho h1 {
    margin: 30px;
    font-style: bold;
  }
  main {
    margin-top: 100px;
    background-color: rgb(253, 251, 251);
  }
  #foto {
    height: 400px;
    padding: 50px;
    margin-top: 90px;
  }
  #minha_foto {
    width: 250px;
    border-radius: 10%;
    border: 20px solid whitesmoke;
  }
  #listas {
    font-size: 10px;
  }
  
  }
  #licoes_aprendidas {
    margin-left: 0px;
    text-align: left;
    display: inline-block;
  }
  #licoes_a_aprender {
    text-align: left;
    display: inline-block;
  }
  #artigo {
    font-size: 20px;
  }
  .lado-esquerdo {
    width: 450px;
    float: left;
    left: 100px;
    text-align: left;
    margin-left: 100px;
    position: static;
  }
  
  .lado-direito {
    width: 450px;
    float: right;
    left: 100px;
    text-align: left;
    margin-left: 100px;
    position: static;
  }
 
    #rodape {
    height: 100px;
    background-color: rgb(60, 182, 44);
    
  }
    #icones img {
    width: 70px;
    margin: 30px 20px 0 0;
    }
