body {
  background-color: rgb(253, 251, 251);
  font-family: 'Epilogue', sans-serif;
  margin: auto;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(3, 107, 82);
  width: 100%;
}

#titulo {
  text-align: center;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 40px auto;
}

#minha_foto {
  width: 300px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.navegacao {
  display: inline-block;
  width: 100%;
  margin: 105px auto 0;
}

.navegacao ul {
  text-align: center;
}

.navegacao li {
  display: inline-block;
  list-style-type: none;
  width: 145px;
  margin: 20px;
}

.navegacao a {
  text-decoration: none;
  color: rgb(3, 107, 82);
}

.navegacao .inicio {
  margin: 20px 0 20px 20px;
}

.navegacao .aprendizado {
  margin: 20px 20px 20px 0;
}

#artigo {
  text-align: center;
  float: left;
  position: absolute;
  width: 70%;
  z-index: 1;
}

.lado-esquerdo {
  margin-top: 80px;
  margin-left: 30px;
}

.subtitulo {
  color: rgb(3, 107, 82);
  margin: 40px auto 30px;
  font-weight: 300;
}

.secao-lista {
  display: inline-block;
  width: 100%;
  clear: both;
  margin-top: 900px;
}

.aprendidos_aprender {
  display: inline-block;
}

#aside {
  float: left;
  position: absolute;
  top: 550px;
  width: 20%;
  z-index: 2;
  right: 30px;
}

.lado-direito {
  text-align: center;
}
