body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  color: rgb(255, 253, 253);
  text-align: center;
  width: 100%;
  background-color:rgb(5, 35, 73);

}

main {
    background-color: teal;
    margin: 20px;
}

#minha_foto {
  width:200px;
  border-radius: 30%;
  margin-top: 100px;
  margin-left: 50px;
  display: block;
}

#listas {
  display: inline-block;
  margin:0px 20px;
  text-align: center;
  font-size: 20px;
  
}

#licoes_aprendidas {
  float: left;
  color: aqua;
}
#licoes_a_aprender {
  float: right;
  color: rgb(248, 241, 245);
}

article {
    width: 30%;
    color: white;
    margin-left: 50px;
    font-size: 20px;
    display: inline-block;
    margin-block-end: 5px;
}

footer {
    text-align: center;
    font-size: 30px;
}

nav {
    text-align: center;
}
aside {
    float: right;
    display: inline-block;
    width: 30%;
    font-size: 20px;
    color:white;
}
h3 {
    color: rgb(34, 8, 126);
}