body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: seagreen;
    border: slategrey;
}

#titulo {
 text-align: center;
 color: rgb(22, 6, 114);
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#minha_foto {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-top: 150px;
    border-radius: 50%;
    border-top-right-radius: initial;
}

#nome {
    margin-left: 1000px;  
    margin-bottom: -10px;  
}

section {
    text-align: center;
}

div {
    display: inline-block;
    margin: 20px 50px;
    text-align: left;
}

.button-primary {
    color: white;
    background-color: rgb(22, 6, 114);
    padding: 3px 30px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    text-align: center;
    width: 200px;
}

article {
    width: 400px;
    margin-top: 130px;
    margin-right: 50px;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(22, 6, 114);
}

aside {
    width: 400px;
}

.lado-esquerdo {
    margin-left: 30px;
    display: inline-block;
    text-align: center;
}

.lado-direito {
    display: inline-block;
    text-align: center;
}

    
 