body {
    margin: 0;
    text-align: left;
    line-height: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 251, 251);
  }
  #cabecalho {
    width: 100%;
    height: 100px;
    top: 0;
    position: fixed;
    background-color: rgb(60, 182, 44);
  }
  #cabecalho h1 {
    margin: 30px;
    font-style: bold;
  }
  main {
    background-color: white;
  }
  #foto {
    height: 400px;
    padding: 50px;
    margin-top: 90px;
  }
  #minha_foto {
    width: 250px;
    border-radius: 10%;
    border: 20px solid whitesmoke;
  }
  #listas {
    font-size: 50px;
  }
  #listas li {
    padding: 3px;
  }
  #licoes_aprendidas {
    margin-left: 10px;
    text-align: left;
    display: inline-block;
  }
  #licoes_a_aprender {
    text-align: left;
    display: inline-block;
  }
  #artigo {
    height: 500px;
    font-size: 25px;
  }
  .lado-esquerdo {
    width: 450px;
    float: left;
    left: 100px;
    text-align: left;
    margin-left: 100px;
    position: static;
  }
  
  .lado-direito {
    width: 450px;
    float: right;
    left: 100px;
    text-align: left;
    margin-left: 100px;
    position: static;
  }
  #table {
    width: 690px;
    height: 400px;
    margin: 0 auto;
    padding: 15px 0 50px;
    }
    #table td {
  border-radius: 20%;
  background-color: black;
  border: 10px solid whitesmoke;
    }
    #rodape {
  height: 100px;
  background-color: rgb(60, 182, 44);
    }
    #icones img {
  width: 70px;
  margin: 30px 20px 0 0;
    }
    #rodape p {
  width: 500px;
  font-size: 30px;
  margin: 10px auto;
  font-weight: 700;
  font-style: italic;
    } 