body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    background-color: #036b52;
    padding: 1em;
    color: white;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

#minha_foto {
    width: 200px;
    margin-top: 30px;
    margin-left: 10px;
}

#licoes_aprendidas {
    margin-left: 10px;
    margin-top: 30px;
}

#licoes_a_aprender {
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 50px;
}

#rodape {
    background-color: #036b52;
    padding: 5px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: left;
    margin-top: 100px;
}

#rodape p {
    margin-left: 20px;
    color: white;
}

#botton {
    background-color: #036b52;
    color: white;
    margin-top: 50px;
    padding: 8px;
    text-decoration: none;
    border-radius: 5%;
    margin-left: 30px;
}

article {
    margin-top: 50px;
}