body {

                background: rgb(253, 251, 251);
                font-family: "Times New Roman", Times, serif;
                color: rgb(44, 43, 43);
}

.barra {

                background-color: rgb(0, 161, 54);
                color: white;
                position: fixed;
                top: 0;
                left: 0;
                right: 0%;
                height: 100px;
                text-align: center;

}

.foto img {

                max-width: 400px;
                padding: 10px 20px;
                padding-top: 2%;

}

.nome {
                padding-left: 2%;
                text-decoration: none;
                color: black;

}

.lista {

                align-items: center;
                display: inline-block;

}

.rodape {

                background-color: rgb(0, 161, 54);
                color: white;
                height: 50px;
                text-align: center;


}

.links {

                text-decoration: none;
                color: white;

}

#licoes_a_aprender {

                float: right;

}

#passagem {

                float: right;

}
