body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 99%;
  background-color: yellow;
  border: 2px solid black;
}

#titulo {
  text-align: center;
}

#minha_foto {
  width: 200px;
  margin-top: 110px;
  display: block;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}

#rodape {
  margin-bottom: 2px;
  bottom: 0;
}

#passagem {
  display :inline-block;
  border: 2px solid black;
}