body {
    background-color: rgb(253, 251, 251);
}

h2, h1, p, li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1, h2 {
    color: saddlebrown;
    font-size: 30px
}

li {
    color:slateblue
}

#cabecalho {
    top: 0;
    text-align: center;
    display: inline-block;
    position: fixed;
    margin: 0% 20%;
}

#titulo {
    padding: 25px 350px;
    background-color: rgb(199, 199, 199, 0.6);
    border-radius: 5%;
    border: thick double rgb(31, 39, 39);
}

#turma {
    border: thick double rgb(31, 39, 39);
    margin-left: 90%;
}

#minha_foto {
    border-radius: 20%;
    display: inline-block;
    margin-top: 300px;
    background-color: red;
}

#button-perfil {
    margin-left: 100px;
}

#licoes_aprendidas {
    display: inline-block;
    border: dashed rgb(228, 8, 8);
    padding: 30px;
    margin: 20px;
    background-color: rgb(220, 233, 40);
}

#licoes_a_aprender {
    display: inline-block;
    border: dashed rgb(228, 8, 8);
    padding: 30px;
    margin: 20px;
    background-color: rgb(220, 233, 40);
}

#paragraph {
    line-height: 30px;
     margin-right: 800px;
     margin-bottom: 100px;
}

#rodape {
    padding: 10px;
    background-color: rgb(2, 172, 163);
    text-align: center;
    margin: 20px 820px;
    border-radius: 10%;
}
