body{
    background-color: rgb(253,251,251)
}

#cabecalho{
    position: fixed;
    top: 0%;
}

header{
    text-align: center;
    background-color: #036b52;
    padding: 40px;
    width: 100%;
    
}


#minha_foto{
    
    position: relative;
    float: left;
    height: 270px;
    padding: 5px;
    padding-top: 170px;
  
}

#licoes_aprendidas{

    padding-top: 500px;
    
}
