body {
  background-color: rgb(253, 251, 251);
  margin: auto;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(86, 171, 145);
}

#titulo {
  color: rgb(253, 251, 251);
}

#minha_foto {
  margin-top: 100px;
}

#licoes {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#licoes_aprendidas,
#licoes_a_aprender {
  padding: 50px;
  line-height: 25px;
}
