body{
    background-color: rgb(253, 251, 251); 
    font-family: cursive;
    font-size: 16;
        
}

#cabecalho {
    width: 100%;
    position: fixed;
    top: 0;  
    font-family: cursive;
    color: rgb(227, 218, 231);
    text-align: center; /* coloca o texto ao centro */
    background-color: rgb(14, 172, 61); 
    margin: -13px -20px 0px;
  }

#minha_foto {
    margin-top: 65px ;
    width: 20%;
    border-radius: 10%;
    border: 10px solid rgb(74, 22, 196);
    
  }

#licoes_aprendidas {
  text-align: left;
  display: inline-block;
}


#licoes_a_aprender_ {
  text-align: left;
  display: inline-block;
}
  
#artigos primeiro_artigo {
  top: 50;
  left: 60;
  width: 80%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

#artigos segundo_artigo {
  top: 50;
  left: 60;
  width: 80%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

#rodape {
  text-align: center;
}
#icones img {
  width: 60px;
  margin: 20px 10px 15px;
  top: 50px; 
  left: 60px;
  
}
