body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    background-color: forestgreen;
    width: 100%;
    text-align: center;
}

#titulo {
    color: white;
}

#minha_foto {
    width: 200px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10%;
    
}

#meu_nome {
    margin-left: 38px;
    margin-top: 10px;
}

h3 {
    margin-left: 30px;
    margin-top: 30px;
}