body {
    background-color: rgb(253, 251, 251);
    
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: seagreen;
    border: slategrey;
    
}

#titulo {
 text-align: center;
}

#minha_foto {
    width: 300px;
    margin-top: 150px;
}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

