 body {
    background-color: rgb(253, 251, 251);
 }

 #cabecalho {
    position: fixed;
    top: 0;
    padding: 25px;
    border: 1px solid transparent;
    background-color: #036b52;
    color: #fff;
    width: 100%;
    text-align: center;
 }

  #titulo {
    font-size: 2em;
  }

 .foto_borda {
     border: 1px solid transparent;
     background-color: #333;
     color: #fff;
     border-radius: 25px;
     margin: 100px 0 0 0;
     padding: 20px;
     text-align: center;
 }

 #minha_foto {
    max-width: 200px;
    max-height: 200px;
    border-radius: 250px;
 }