* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  background-color: green;
}

#minha_foto {
  padding: 50px;
}

#nome {
  padding: 40px;
}

.lado-esquerdo {
  margin-left: 150px;
  margin-bottom: 70px;
  font-family: sans-serif;
}

.lado-direito {
  margin-left: 50px;
  margin-right: 60px;
  margin-bottom: 70px;
  float: left;
  font-family: sans-serif;
}

#rodape {
  position: absolute;
  bottom: 0;
}
