@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato:400,400i,900,900i&display=swap');

body {
    background-color: rgb(253, 251, 251);
    font-family: 'lato', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 2em;
}

header {
    position: fixed; /*pré requisito*/
    top: 0; /*pré requisito*/
}
