html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: rgb(87, 0, 0);
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(253, 251, 251);
  line-height: 20px;
  font-family: helvetica, arial;
  font-size: 16px;
}
#cabecalho {
  position: fixed;
  top: 0;
  left: 35%;
  background-color: white;
  margin: 0;
  padding: 0;
}
#cabecalho #titulo {
  text-align: center;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
  padding: 10px;
}
nav ul li:hover {
  text-decoration: underline;
  background-color: rgb(87, 0, 0);
  color: rgb(255, 241, 241);
  border-radius: 5px;
}
#meu-catão {
  display: inline;
}
#meu-catão p {
  display: block;
  line-height: 7px;
}
#minha_foto {
  width: 150px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 2px black;
}
#container-position {
  display: inline-block;
  width: 100%;
}
.lado-esquerdo {
  float: left;
  top: 0;
  width: 400px;
  left: 0;
  margin: 0;
}
.lado-direito {
  float: right;
  bottom: 250vh;
  width: 400px;
  right: -70%;
  margin: 0;
}
