body {
  background-color: rgb(253, 251, 251);
}

h1 {
  font-family: Architects Daughter;
}

h2 {
  text-align: center;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #01497c;
  border: 2px solid black;
}

#titulo {
  text-align: center;
}

#minha_foto {
  width: 200px;
  margin-top: 120px;
  display: block;
}

#licoes_aprendidas {
  display: inline-block;
  font-family: Architects Daughter;
}

#licoes_a_aprender {
  display: inline-block;
  font-family: Architects Daughter;
  margin-right: 50%;
}

#rodape {
  margin-bottom: 2px;
  bottom: 0;
  position: absolute;
}

#article {
  font-family: monospace;
  font-size: 15px;
  line-height: 20px;
}

#passagem {
  border-left: 2px solid #013a63;
  font-family: monospace;
  font-size: 12px;
  padding: 5px;
}

a {
  color: #61a5c2;
  font-family: Architects Daughter;
}

#section1 {
  margin-left: 5%;
  margin-right: 5%;
}

table ,th ,td {
  border: 1px solid black;
}

.lado-direito {
  display: inline-block;
  width: 200px;
  float: right;
}

.lado-esquerdo {
  display: inline-block;
  float: left;
  width: 80%;
}

