body{
    background-color: rgb(253,251,251);
    margin: 0px;
    font-family: Montserrat , sans-serif;
    font-weight: 500;
}

#cabecalho{
    background-color: #00ba89;
    top: 0;
    position: fixed;
}
nav{
    display: block;
    padding-left: 100px;
}


#rodape{

    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: #00ba89;
    margin-top: 27px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0px;

}
#listas{
    vertical-align: middle;
}
#listas div{
    display: inline-block;
    padding: 20px;
    width: 300px;
    
}
li{
    color: black;
    font-weight: 00px;

}
ul, ol{
    padding: 50px 200px 80px 100px;
}
p{
    width: 800px;
    padding: 0px 100px 50px 100px;
}