body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  left: 0;
  position: fixed;
  background-color: blueviolet;
  width: 100%;
  text-align: center;
  border: 5px inset black;
}

#titulo {
  font-family: monospace;
}

#minha_foto {
  margin-top: 85px;
  border-radius: 20%;
}

#licoes_aprendidas li {
  padding: 2px 0;
  font-family: Arial, sans-serif;
}

#licoes_a_aprender li {
  padding: 2px 0;
  font-family: Arial, sans-serif;
}
