body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#cabecalho {
  position: fixed;
  display: block;
  top: 0;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  background-color: aquamarine;
  padding: 8px;
  border: 2px;
  color: gray;
}

#minha_foto {
  width: 200px;
  border-radius: 50%;
  margin-top: 150px;
  display: block;
}

#licoes_aprendidas {
  font-size: 20px;
  line-height: 30px;
}

.lado-esquerdo {
  max-width: 40%;
  display: inline-block;
}

.lado-direito {
  max-width: 30%;
  display: inline-block;
}
