header {
    position: fixed;
    top: 0;
}

body {
    background-color: rgb(253, 251, 251);
}

#minha_foto {
    margin-top: 60px;
}

#section1 {
    display: inline-block;
}

#section2 {
    display: inline-block;
}

#rodape {
    margin-bottom: 30px;
}
