body {
  background-color: rgb(253, 251, 251);
  font-family: Epilogue, sans-serif;
  margin: auto;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(3, 107, 82);
  width: 100%;
}

#titulo {
  text-align: center;
  font-weight: 400;
  color: white;
  margin: 40px auto;
}

#minha_foto {
  width: 300px;
  border-radius: 50%;
  margin: auto;
  padding: 10px 30px;
  border: rgb(253, 251, 251);
  display: block;
}

.navegacao {
  display: inline-block;
  width: 100%;
  margin: 105px auto 0;
}

.navegacao ul {
  text-align: center;
}

.navegacao li {
  display: inline-block;
  list-style-type: none;
  width: 145px;
  margin: 20px;
}

.navegacao a {
  text-decoration: none;
  color: rgb(3, 107, 82);
}

.navegacao .inicio {
  margin: 20px 0 20px 20px;
}

.navegacao .aprendizado {
  margin: 20px 20px 20px 0;
}

article .lado-esquerdo {
  text-align: center;
  width: 70%;
  float: left;
  padding-top: 45px;
  line-height: 19px;
  margin-left: 40px;
}

aside .lado-direito {
  float: right;
  width: 20%;
  text-align: center;
  margin-right: 50px;
  line-height: 19px;
}

.subtitulo {
  color: rgb(3, 107, 82);
  margin: 40px auto 30px;
  font-weight: 300;
}

.secao-lista {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.aprendidos_aprender {
  width: 220px;
  margin: 50px 40px;
  display: inline-block;
  border: 1px solid rgb(3, 107, 82);
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(250, 255, 254);
  line-height: 20px;
}

.fonte-aside {
  font-size: 19px;
  margin: 90px auto 30px;
}
