body {
  background-color: rgb(253, 251, 251);
}

body {
  font-family: 'Montserrat'; color: blue; font-size: 15px; line-height: 2;
}

#cabecalho {
  position: fixed;
  top: 0;
}

a {
  float: right;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

ol {
  float: left;
  width: 400px;
  height: 400px;
  line-height: 30px;
}

ul {
  float: left;
  width: 400px;
  height: 400px;
  line-height: 30px;
}

#rodape {
  text-align: center;
  width: 400px;
  height: 400px;
  line-height: 30px;
}
