body {
  width: 1366px;
  height: 768px;
  background-color: rgb(253, 251, 251);
  margin: auto;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(71, 248, 204);
  width: 1366px;
  text-align: center;
}

#cabecalho li {
  list-style: none;
  display: inline-block;
}

#cabecalho a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-family: Acme, sans-serif;
}

#cabecalho a:hover {
  color: rgb(247, 248, 241);
  background-color: aquamarine;
}

h1 {
  font-family: Acme, sans-serif;
  text-transform: uppercase;
}

#minha_foto {
  display: block;
  margin: auto;
  width: 400px;
  margin-top: 110px;
}

section {
  text-align: center;
  margin: auto;
}

ol {
  width: fit-content;
  margin: 0 auto;
}

ul {
  width: fit-content;
  margin: 0 auto;
}

#meu_aprendizado {
  display: inline-block;
  width: 1166px;
  margin: auto;
}

#meu_aprendizado p {
  width: 1000px;
}

aside {
  display: inline-block;
  width: 190px;
  margin: auto;
}