* {
  margin: 0;
  padding: 0;
}

.middle {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  background-color: green;
  font-style: normal;
  line-height: 28px;
  box-sizing: border-box;
  top: 0;
}

#titulo {
  font-size:28px;
  color: white; 
  font-family: cursive;
}

#minha_foto {
  padding: 50px;
}

#nome {
  padding: 40px;
}

.lado-esquerdo {
  margin-left: 150px;
  margin-bottom: 70px;
  font-family: sans-serif;
}

.lado-direito {
  margin-left: 50px;
  margin-right: 60px;
  margin-bottom: 70px;
  float: left;
  font-family: sans-serif;
}

.articles table{
  font-size:28px;
  color: white;
  line-height: 5px;
  font-family: sans-serif;
}

#rodape {
  position: absolute;
  bottom: 0;
}
