
html, body {
    width: 1366px;
    height: 768px;
}

body{
    background-color:rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #036b52;
    font-size: large;
}
h1{
  color:white;
}
h2{
  font-family: sans-serif;
  font-size: large;
  color:tomato
}
li{
  color:teal
}