body {
    background-color: rgb(253, 251, 251);
    margin: 0;
}

ol{
    margin: 0;
    padding-inline-start: 30px;
}

li{
    margin: 0;
}

#cabecalho {
    top: 0;
    text-align: center;
}

#titulo {
    font-weight: normal;
}

#foto {
    text-align: center;
}

#minha_foto {
    width: 200px;
    border-radius: 50%;
}

#rodape{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

a{
    text-decoration: none;
}

a:hover{
    color:red;
}

a:visited{
    color: black;
    text-decoration: none;
}