body {
  background-color: rgb(253, 251, 251);
  padding: 0;
  margin: 0;
}

#cabecalho {
  background-color: royalblue;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 2;
}

#titulo {
  text-align: center;
  margin-bottom: 0;
}

nav {
  margin: 10px 0 0 20px;
  color: aliceblue;
}

nav a {
  text-decoration: none;
  color: aliceblue;
}

nav a:hover{
  background-color: blue;
}

.imagem{ 
  float: left;
}

#minha_foto {
  position: relative;
  width: 175px;
  margin: 120px 0 0 20px;
}

.listas, ol, ul {
  display: inline-block;
  padding-left: 25px;
}

#titulo-listas {
  margin: 130px 0 0 10px;
}

#licoes_a_aprender{
  margin-left: 20px;
}

figcaption {
  width: 200px;
  margin: 0 0 0 23px;
}

.aprendizado { 
  margin: 40px 20px 0 20px;
  line-height: 25px;
}

article, aside {
  margin-top: 20px;
  text-align: justify;
}

footer {
  margin: 20px 0 0 0; 
  padding: 20px 0;
  text-align: center;
  width: 100%;
  background-color: royalblue;
}
