body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  margin-left: 25%;
}

#minha_foto {
  margin-top: 10px;
  border-radius: 50%;
}

.navigation {
  margin-top: 60px;
}

.navigation ul li {
  display: inline;
}

#licoes_aprendidas {
  float: left;
}

#licoes_a_aprender {
  display: inline-block;
}

.list_course {
  float: right;
  width: 65%;
}

.list_course th {
  border: 1px solid black;
}

.title_table {
  margin-right: 455px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 44px;
}

.lado-esquerdo {
  padding: 10px;
  border: aqua;
  border-style: dashed;
  float: left;
  max-width: 50%;
  margin-bottom: 1px;
  line-height: 150%;
}

.lado-direito {
  margin: auto;
  padding: 5px;
  float: right;
  border: dodgerblue;
  border-style: dashed;
  max-width: 45%;
  margin-bottom: 100px;
  line-height: 150%;
}

#titulo {
  font-size: 35px;
  color: dodgerblue;
  font-family: monospace;
}
