body {
  background-color: rgb(253, 251, 251);
  font-size: 20px;
  color: rgb(7, 22, 37);
  line-height: 33px;
  font-family: serif;
}

h1 {
  font-family: sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(75, 168, 145);
  padding: 30px;
  border: 20px;
  width: 100%;
}

#minha_foto {
  margin-top: 180px;
  border-style: double;
  border-color: rgb(75, 168, 145);
  border-radius: 50%;
  width: 20%;
  margin-left: 20px;
}

.lado-direito {
  float: right;
  width: 45%;
  margin-right: 10px;
}

.lado-esquerdo {
  width: 45%;
  margin-left: 20px;
}

ul , ol {
  margin-left: 10px;
}

#tabela {
  margin-left: 20px;
}
