body {
  background-color: rgb(253, 251, 251);
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: darkblue;
}

#cabecalho {
  top: 0;
  background-color: slategrey;
  height: 100px;
}

#nav-cabecalho li {
  display: inline;
  margin-left: 20px;
  text-decoration: none;
}

#minha_foto {
  margin-top: 100px;
  width: 400px;
  padding: 5px;
}

#rodape {
  background-color: slategrey;
  height: 70px;
}

#tabela {
  background-color: silver;
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 5px;
  border: black;
  text-align: center;
}

.titulo-tabela {
  margin: 0;
}

#artigo {
  margin-bottom: 100px;
  line-height: 25px;
  vertical-align:super;
}

.lado-esquerdo {
  width: 700px;
  margin-right: 50px;
  text-align: justify;
  display: inline-block;
  position: relative;
}

.lado-direito {
  width: 300px;
  padding: 10px 40px;
  text-align: justify;
  display: inline-block;
  background-color: silver;
  position: relative;
  float: right;
}
