body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  width: 100%;
  position: fixed;
  top: 0;
  }

#rodape {
  background-color: greenyellow;
  text-align: center;
}

#titulo {
  background-color:green;
  color: azure;
  font-size: 35px;
  height: 50px;
  text-align: center;
}

h2 {
  color: green;
  font-size: 22px;
  height: 10px;
}

h3 {
  font-size: 16px;
  color: blue;
}

.trybe {
  color: green;
}

#menu {
  border-bottom: 8px solid rgb (230, 230, 230);
  top: 1000px;
  position: absolute;
}

#minha_foto {
  float: left;
  width: 70px;
  border-radius: 10%;
  top: 30px;
  position: relative;
}

#licoes_aprendidas {
  font-family: Impact, sans-serif;
  text-decoration: none;
  font-size: 15px;
}

#licoes_a_aprender {
  font-family: Impact, sans-serif;
  text-decoration: none;
  font-size: 15px;
}

.titulo3 {
  position: relative;
  left: 20px;
  line-height: 10px;
}

#rodape {
  position: absolute;
  right: 10px;
}

p {
  font-family: Impact, sans-serif;
  text-align: justify;
  text-decoration: none;
  padding: 10px;
}

.lado_direito {
  float: right;
  width: 40%;
}

.lado_esquerdo {
  float: left;
  width: 40%;
}

.lista_esquerda {
  float: left;
  width: 50%;
  position: relative;
  top: 56px;
  left: 10px;
}

.lista_direita {
  float: right;
  width: 50%;
  left: 100px;
  position: relative;
}