body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  width: 40%;
  position: fixed;
  top: 0px;
}

#rodape {
  background-color: greenyellow;
  text-align: center;
}

#titulo {
  background-color:green;
  color: azure;
  font-size: 35px;
  height: 50px;
  text-align: center;
}

h2 {
  color: green;
  font-size: 22px;
  height: 10px;
}

h3 {
  font-size: 16px;
  color: blue;
}

.trybe {
  color: green;
}

#minha_foto {
  border-radius: 10%;
  position: absolute;
  top: 23px;
  display: inline-block;
  width: 50px;
}

#licoes_aprendidas {
  font-family: Impact, sans-serif;
  text-decoration: none;
  font-size: 15px;
}

#licoes_a_aprender {
  font-family: Impact, sans-serif;
  text-decoration: none;
  font-size: 15px;
}

.listas {
  display: inline-block;
}

.titulo3 {
  position: relative;
  left: 20px;
  line-height: 10px;
}

p {
  font-family: Impact, sans-serif;
  text-align: justify;
  text-decoration: none;
  padding: 10px;
}

.lado-direito {
  display: inline-block;
  width: 40%;
  }

.lado-esquerdo {
  display: inline-block;
  width: 40%;
  }

.lista1 {
  display: inline-block;
  width: 40%;
}

.lista2 {
  display: inline-block;
  width: 40%;
}