body {
  background-color: rgb(253, 251, 251);
  margin: 0 auto;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: #025642;
  width: 100%;
  text-align: center;
  color: #fff;
}

#minha_foto {
  width: 250px;
  margin-left: 20px;
  margin-top: 100px;
  float: left;
}

#licoes {
  margin-top: 75px;
  display: inline-block;
  width: 50%;
  text-align: center;
}

#licoes_aprendidas_container {
  display: inline-block;
}

#licoes_aprendidas_title {
  margin-left: 20px;
}

#licoes_aprendidas {
  font-size: 14px;
}

#licoes_a_aprender_container {
  display: inline-block;
}

#licoes_a_aprender {
  font-size: 14px;
  margin-left: 40px;
}

#licoes_a_aprender_title {
  margin-left: 60px;
}

article {
  margin-left: 20px;
  height: 200px;
}

#rodape {
  width: 100%;
  background-color: #ccc;
  position: fixed;
  bottom: 0;
  text-align: center;
}

a {
  text-decoration: none;
  margin: 5px;
}
