body {
        background: rgb(253, 251, 251);
}

.barra {
        text-align: center;
        background-color: rgb(0, 161, 54);
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0%;
        height: auto;
}

.foto img {
        margin-left: 2%;
        padding-top: 6%;
        max-width: 400px;
}

.nome {
        margin-left: 2%;
}

.lista {
        align-items: center;
        display: inline-block;    
}

.rodape {
    background-color: rgb(0, 161, 54);
    color: white;
    height: 50px;
    text-align: center;
}

.links {
    text-decoration: none;
    color: white;
}
