body {
  background-color: rgb(253, 251, 251);
}
  
#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  background-color: #735d78;
  width: 100%;
  padding: 5px;
}

#titulo {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: italic; 
}

#minha_foto {
  margin-top: 85px;
  border: 7px solid #b392ac;
}

#rodape {
  margin-top: 100px;
}

#link_externo {
  margin-left: 10px;
}

table {
  border: 1px solid black;
}

ul, ol {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 180%;
  text-align: justify;
  font-weight: bold;
  font-style: oblique;
  margin: 2%;
}

.lado-esquerdo {
  display: inline-block;
}
  
.lado-direito {
  margin-left: 100px;
  display: inline-block;
}