body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

a {
  float: right;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

ol {
  float: left;
  width: 400px;
  height: 400px;
  line-height: 30px;
}

ul {
  float: left;
  width: 400px;
  height: 400px;
  line-height: 30px;
  }

#artigo {
  float: inline-start;
  width: 600px;
  height: 600px;
  line-height: 30px;
   
}

#artigo1 {
  float: inline-start;
  width: 500px;
  height: 500px;
  line-height: 30px;
}

#rodape {
  text-align: center;
  width: 400px;
  height: 400px;
  line-height: 30px;
}
