body {
  background-color: rgb(253, 251, 251);
  font-family: fantasy;
  max-width: 100%;

}


#titulo {
  text-align: center;
  max-width: 100%;
  margin-top: 20px;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 550;
  font-size: 18pt;
  line-height: 18pt;

  /* background-color: #047753; */
  color: rgb(7, 7, 7);

}


#cabecalho {
  position: fixed;
  top: 0;
  left: 0;

  /* padding-bottom: 20px; */
  width: 100%;
  background-color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.barra_de_link {
  text-align: center;
  padding: 20px;
  word-spacing: 230px;
  max-width: 100%;
  bottom: 0;
  font-size: 20px;
  background-color: rgb(69, 151, 14);

}


.botoes {
  color: blue;
  font-weight: 500;

}


.alinha_foto {
  text-align: center;

}


#minha_foto {
  max-width: fit-content;
  text-align: center;
  margin-top: 150px;
  border-radius: 1px;
  padding: 10px;
  width: 300px;
  height: 300px;

}


.lista_artigo_aside {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  width: 100%;
  max-width: 100%;

}


.lado-esquerdo {
  width: 15%;
  margin-left: 10px;

}


.artigo {
  width: 40%;
  text-align: center;
  margin-left: 230px;

}


.lado-direito {
  width: 20%;
  text-align: center;
  margin-left: 80px;

}


#rodape {
  padding: 5px;
  margin: 10px;
  border: 10px;
	bottom: 0;
  text-align: center;
  font-weight: 700;

}

