body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: absolute;
    top: 0;
}

#titulo {
    color: blue;

}

#minha_foto {
    width: 300px;
}

#licoes_aprendidas {
}

.titulo3 {
    position: relative;;
    left: 50px;
}