body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  background-color: rgb(253, 251, 251);
  margin: 0;
  color: darkslategrey;
  line-height: 23px;
  text-align: center;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: thistle;
  padding: 30px 70px;
  width: 100%;
}

#minha_foto {
  border-radius: 50%;
  width: 100px;
  position: absolute;
  right: 170px;
  top: 50px;
}

#licoes_aprendidas {
  margin: 30px auto;
  list-style-type: inside;
  display: table;
}

#licoes_aprendidas li {
  margin: 10px;
}

#licoes_a_aprender li {
  margin: 10px;
}

#licoes_a_aprender {
  margin: 30px auto;
  display: table;
}

#mainContent {
  padding: 30px 70px;
  margin-top: 190px;
}

#mainContent h2 {
  margin: 30px 0;
}

#mainContent p {
  margin: 30px 0;
}

.mainArticle {
  max-width: 55%;
  display: inline-block;
}

#sectOne {
  max-width: 55%;
}

#sectTwo {
  max-width: 55%;
}

.sideBlock {
  float: right;
  width: 30%;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin-right: 70px;
}

.links img {
  width: 50px;
  border-radius: 50%;
  padding: 0 15px;
}

#sectThree {
  max-width: 55%;
}

#tableTechs , th , td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}
