body {
  background-color: rgb(253, 251, 251);
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, serif;
}

h2 {
  color: darkcyan;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(2, 86, 66);
  width: 100%;
  text-align: center;
  color: white;
}

#minha_foto {
  width: 300px;
  margin-left: 20px;
  margin-top: 100px;
  float: left;
}

#licoes {
  margin-top: 75px;
  display: inline-block;
  width: 60%;
  text-align: center;
}

#licoes_aprendidas_container {
  display: inline-block;
}

#licoes_aprendidas_title {
  margin-left: 20px;
}

#licoes_aprendidas {
  font-size: 14px;
  line-height: 18px;
}

#licoes_a_aprender_container {
  display: inline-block;
}

#licoes_a_aprender {
  font-size: 14px;
  margin-left: 40px;
  line-height: 18px;
}

#licoes_a_aprender_title {
  margin-left: 60px;
}

.lado-esquerdo {
  height: 200px;
  width: 300px;
  border: 1px solid rgb(2, 86, 66);
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  float: left;
}

.lado-direito {
  width: 500px;
  height: 200px;
  border: 1px solid rgb(2, 86, 66);
  display: inline-block;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}

table {
  float: right;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

#rodape {
  width: 100%;
  background-color: rgb(200, 200, 200);
  position: fixed;
  bottom: 0;
  text-align: center;
}

a {
  text-decoration: none;
  margin: 5px;
}
