.body {
    background-color: rgb(253, 251, 251);
    font-family:"Open Sans";
}

#cabecalho{
    background-color: green;
    position: fixed;
    top: 0;
    right: 0;
    height: 75px;
    width: 100%;
    border: 2px solid black;
    line-height: 170%;
    text-align: center;
}

#titulo{
    
    color: gold;
    font-size: 40px;
}

#minha_foto{
    display: inline-block;
    width: 250px;
    border-radius: 50%;
}

#licoes_aprendidas{
    display: inline-block;
    color: black;
}

.green{
    display: inline;
    font-size: 30px;
    font-weight: 900;
    color: gold;
    background-color: rgb(253, 251, 251);
    padding: 15px 50px;
    border-radius: 10px;
    border: 3px solid black;
}

#rodape{
    color: indianred;
}
.h3{
    font-size: 30px;
    color: black;
}

.link {
    color: black;
    background-color: gold;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none ;
  }

  aside {
    width: 50%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(250, 236, 236);
    border: 3px solid black;
    border-radius: 10px;
}
