body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  top: 0;
}

#minha_foto {
  width: 300px;
  margin-top: 60px;
  display: block;
  border-radius: 20%;
}

#licoes_aprendidas {
  display: inline-block;
  margin-left: 20px;
}

#licoes_a_aprender {
  display: inline-block;
  margin-left: 40px;
  padding: 20px;
  border: 20px;
}

section {
  padding: 30px 50px 300px;
  font-size: 20px;
  background-color: #1db183;
  color: white;
  line-height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
}

.lado-esquerdo {
  text-align: left;
  float: left;
  max-width: 30%;
}

.lado-direito {
  text-align: right;
  float: right;
  max-width: 30%;
}

nav {
  clear: both;
}
