body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
}

#titulo {
    color: blue;

}

#menu {
    border-bottom: 8px solid rgb (230, 230, 230);
}

#minha_foto {
    width: 300px;
}

#licoes_aprendidas {
    font-family: Impact, sans-serif;
    text-decoration: underline;
}

#licoes_a_aprender {
    font-family: Impact, sans-serif;
    text-decoration: underline;
}

.titulo3 {
    position: relative;;
    left: 20px;
    line-height: 10px;
}

#rodape {
    position: absolute;
    right: 10px;
}

p {
    font-family: Impact, sans-serif;
    text-align: justify;
    text-decoration: none;
}
