body {
  background-color: rgb(253, 251, 251);
  border: black;
  border-style: double;
  margin: 0;
}


#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  background-color: gray;
  width: 98%;
  padding: 5px;
}


#minha_foto {
  margin-top: 90px;
}


.paragrafo {
  font-size: 20px;
  color: black;
  line-height: 25px;
  font-family: 'Times New Roman', Times, serif;
}