body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  margin-left: 30%;
}

#minha_foto{
  margin-top: 10px;
}

nav {
  margin-top: 60px; 
}

nav ul li {
  display: inline;  
}

#juntando_lista{
  margin: 0%;
}