body {
    background-color: rgb(253, 251, 251);
    
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: seagreen;
    border: slategrey;
    
    
}

#titulo {
 text-align: center;
 color: rgb(22, 6, 114);
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#minha_foto {
    width: 300px;
    float: left;
    margin-right: 20px;
}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

section {
    text-align: center;
}

div {
    display: inline-block;
    margin: 20px 50px;
    text-align: left;
}

.button-primary {
    color: white;
    background-color: rgb(22, 6, 114);
    padding: 3px 30px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    text-align: center;
    width: 200px;
}

article {
    width: 600px;
    margin-top: 150px;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(22, 6, 114);
}
