body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50%;
}

#links {
  text-align: center;
  position: fixed;
  top: 55px;
  width: 100%;
  word-spacing: 20px;
}

table {
  border: 2px solid black;
  margin-left: auto;
  display: inline-block;
}

#titulo {
  text-align: center;
}

#minha_foto {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
  margin-left: 30%;
}

#rodape {
  margin-top: 100%;
}

.lado-esquerdo {
  padding-top: 150px;
  float: left;
  position: absolute;
  display: block;
  margin-right: 65%;
  padding-left: 30px;
  text-align: justify;
}

.lado-direito {
  position: absolute;
  padding-top: 150px;
  margin-left: 56%;
  float: right;
  text-align: justify;
  padding-right: 20%;
}

