body {
  background-color: rgb(253, 251, 251);
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

#cabecalho {
  margin-top: 0;
  padding: 10px;
  background-color: black;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
}

#titulo {
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  font-size: 35px;
}

#minha_foto {
  border-radius: 50%;
  margin-top: 250px;
  width: 40%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#licoes_aprendidas {
  font-family: Fira Code, sans-serif;
  font-size: 20px;
  display: inline-block;
}

#licoes_a_aprender {
  font-family: 'Fira Code', sans-serif;
  font-size: 20px;
  display: inline-block;
}

.listas {
  padding: 30px 70px;
  display: inline-block;
}

#rodape {
  background-color: black;
  padding: 30px;
  clear: both;
}

#infos {
  font-family: 'Fira Code', sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
}

.links {
  padding: 20px;
  font-family: 'Fira Code', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.center {
  display: flex;
  justify-content: space-between;
  padding-left: 40%;
  padding-right: 40%;
}

.lists {
  padding: 50px;
  line-height: 30px;
}

.table {
  margin: auto;
  align-self: center;
}

.lado-esquerdo {
  float: left;
  padding: 20px;
  align-items: center;
  max-width: 60%;
}

.lado-esquerdo p {
  font-family: 'Fira Code', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 25px;
}

h2 {
  font-family: 'Fira Code', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.lado-direito {
  float: right;
  padding: 20px;
  max-width: 30%;
}

.lado-direito p {
  font-family: 'Fira Code', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 25px;
}
