body {
    background-color:  rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    background-color: rgb(1, 40, 148);
    max-width: 100%;
    height: 150px;
    margin: 0%;
}

#titulo {
    text-align: center;
    font-size: 35px;
    padding: 60px;
    color: white;
    font-family: 'Special Elite', cursive;;
}

#minha_foto {
    
}