body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  margin-left: 25%;
}

#minha_foto {
  margin-top: 10px;
}

nav {
  margin-top: 60px;
}

nav ul li {
  display: inline; 
}

div {
  display: inline-block;
}

.lado-esquerdo {
  padding: 10px;
  border: aqua;
  border-style: dashed;
  float: left;
  max-width: 50%;
  margin-bottom: 1px;
}

.lado-direito {
  margin: auto;
  padding: 5px;
  float: right;
  border: dodgerblue;
  border-style: dashed;
  max-width: 45%;
  margin-bottom: 100px;
}

#titulo {
  font-size: 35px;
  color: dodgerblue;
  font-family: monospace;
}

p {
  line-height: 150%;
}