  body {
     background-color: rgb(253, 251, 251);
     font-family: 'Ubuntu', sans-serif;
     margin: 0 auto;
 }

  #cabecalho {
     position: fixed;
     top: 0;
     padding: 25px;
     border: 1px solid transparent;
     background-color: #036b52;
     color: #fff;
     width: 100%;
     text-align: center;
  }

   #titulo {
     font-size: 2em;
   }

 .foto_borda {
     border: 1px solid #ddd;
     background-color: #fff;
     color: #333;
     border-radius: 25px;
     margin: 100px 0 0 20px;
     padding: 20px;
     text-align: center;
     min-width: 40%;
     max-width: 40%;
  }

 .foto_borda figcaption {
     font-size: 2em;
  }


  #minha_foto {
    max-width: 200px;
    max-height: 200px;
    border-radius: 250px;
  }

  .artigo_um {
     margin: 20px 0 0 20px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: flex-start;
  }

  .secao_um .secao_dois, h2 {
      font-weight: bold;
      font-size: 1.2em;
   }

  .secao_um, .secao_dois {
     border: 1px solid #ddd;
     border-radius: 25px;
     width: 40%;
     max-width: 40%;
     height: 40%;
     max-height: 40%;
     margin-top: 20px;
     padding: 22px;
     text-align: center;
     line-height: 1.4;
   }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .lado-esquerdo {
      float: left;
      border: 1px solid #ddd;
      border-radius: 25px;
      max-width: 40%;
      width: 40%;
      margin: 20px 0 20px 20px;
      padding: 22px;
      line-height: 1.4;
    }

    .lado-direito {
        float: right;
        border: 1px solid #ddd;
        border-radius: 25px;
        max-width: 40%;
        width: 40%;
        height: 40%;
        margin-right: 100px;
    }

    .passagem {
        padding: 22px;
        line-height: 1.4;
    }

   #rodape {
     bottom: 0;
     max-width: 100%;
     padding: 50px;
     text-align: center;
     margin-top: 20px;
     border-top: 1px solid #ddd;
     clear: both;
   }

  strong {
      font-weight: bold;
  }

  em {
      font-style: italic;
  }