body{

    background-color: rgb(253, 251, 251);
    
}

#cabecalho{

    position:fixed;
    top:0%;
    width: 100%;
    background-color: rgb(131, 173, 149);

}

#titulo{

    color: rgb(41, 10, 245);
    text-align: center;
}

#minha_foto{

    width: 150px;
    height: 150px;
    
}

