body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: rgb(52, 89, 149);
  height: 90px;
}

#titulo {
  position: relative;
  margin-top: 15px;
  margin-left: 30px;
}

#minha_foto {
  position: relative;
  float: left;
  width: 200px;
  top: 80px;
}

#licoes_aprendidas {
  position: absolute;
  top: 80px;
  left: 220px;
}

#licoes_a_aprender {
  position: absolute;
  top: 80px;
  left: 650px;
}

#rodape {
  position: relative;
  top: 768px;
  height: 80px;
  background-color: rgb(52, 89, 149);
}

#artigo {
  position: absolute;
  top: 400px;
}

#experiencia {
  position: absolute;
  right: 50px;
  width: 300px;
  text-align: justify;
  top: 95px;
}

#indice th{
  position: relative;
  left: 10px;
  top: 50px;
  z-index: 1;
}

th {
  width: 100px;
}

table {
  width: 40%;
}

table a{
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 130px;
}

table a:hover {
  background-color: cornflowerblue;
  padding: 0px 20px;
}

