body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  line-height: 1.65;
}

img {
  max-width: 400px;
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 10%;
}

#cabecalho {
  position: fixed;
  top: 0;
  height: 15%;
  width: 100%;
  background-color: lightcoral;
  text-align: center;
}

#cabecalho nav {
  text-align: left;
}

main {
  margin-top: 16%;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}

.licoes-container h1 {
  text-align: center;
}

.licoes-container {
  float: left;
  width: 40%;
  margin-top: 5%;
  margin-left: 6%;
  border: 1px solid red;
}

article {
  width: 40%;
  display: block;
  float: left;
  margin-left: 8%;
  margin-top: 5%;
  border: 1px solid red;
  text-align: center;
}

.jornada-aside {
  clear: both;
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
}

#rodape {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
