body {
    background-color: rgb(253, 251, 251);
}

header {
    position: fixed;
    top: 0px;
}

#minha_foto {
    width: 300px;
    margin-top: 60px;
    display: block;
    border-radius: 20%;
}

#licoes_aprendidas {
    display: inline-block;
    margin-left: 20px;
}

#licoes_a_aprender {
    display: inline-block;
    margin-left: 40px;
    padding: 20px;
    border: 20px;
}

section {
    padding: 20px;
    font-size: 20px;
    background-color: #1DB183;
    color: white;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lado-esquerdo {
    text-align: left;
    float: left;
}
.lado-direito {
    text-align: right;
    float: right;
}