body {
	background-color: rgb(253, 251, 251);
}

	#cabecalho {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		border-width: 1px;
		border-color: black;
		border: solid;
		background-color: blue;
		padding-left: 0%;
		padding-right: 0%;
		margin-left: 0px;
		margin-right: 0px;
		text-align: center;
		}

	#minha_foto {
		border: 1px solid;
		border-radius: 5px;
		margin-top: 100px;
	}

	#section {
		position: relative;
		width: 300px;
		height: 600px;
		border: 1px solid;
		left: 920px;
		border-color: black;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 100px;
		margin-right: 100%;
	}

	#aprendizado {
		position: relative;
		width: 900px;
		height: 200px;
		border: 1px solid;
		padding: 10px;
		margin-right: 1000px;
		bottom: 221px;
	}

	#rodape {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: red;
		color: white;
		text-align: center;
		margin-top: 100%;
	}
	
	#passagem {
		border: 1px solid;
		border width: 100px;
		border height: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
		bottom: 100000px;
		left: 0px;
	}