*{
  background-color: rgb(253, 251, 251);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 18px;
}
#cabecalho{
    width: 100%;
    background-color: #1f9fcd;
    position: fixed;
    top: 0;
}

#cabecalho h1{
    background-color: #1f9fcd;
    text-align: center;
    font-size: 30px;
}

#minha_foto{
  width: 200px;
  padding: 70px 0px 0px 0px;
}


.table-lessons{
   display: inline-block; 
}

.lado-direito, .lado-esquerdo{
    width: 500px;
    display: inline-block;
}




