* {
  font-family: Urbanist, sans-serif;
}

body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 29px;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(83, 153, 83);
  height: 60px;
  display: table;
  text-align: center;
}

#cabecalho h1 {
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  color: white;
}

main {
  text-align: center;
}

#minha_foto {
  margin-top: 70px;
  margin-bottom: 0;
  border-radius: 50%;
  border: 5px solid rgb(219, 219, 219);
}

#name-below-photo {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 400;
}

.lessons {
  display: inline-block;
  margin-right: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.lessons h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#licoes_a_aprender , #licoes_aprendidas {
  margin-top: 5px;
}

#rodape {
  background-color: rgb(83, 153, 83);
  position: absolute;
  bottom: 0;
  width: 100%;
}

#rodape p {
  color: white;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

#external-links ul li {
  display: inline-block;
  margin-right: 10px;
}

#external-links ul {
  margin-top: 10px;
  margin-bottom: 50px;
}

#external-links ul li a {
  color: white;
  background-color: rgb(83, 153, 83);
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 8px;
}

#external-links {
  margin-left: -30px;
}

#learning-article {
  margin-left: 20%;
  margin-right: 20%;
}

#learning-article h2 {
  margin-bottom: 0;
}

#learning-article p {
  margin-top: 10px;
  margin-bottom: 40px;
}
