body {
    background-color: rgb(253, 251, 251);
}

main {
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif   ;
}

.menu li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}

.tabela {
    margin-top: 30px;
}

#cabecalho {
    position: fixed;
    top: 0;
}

#rodape {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

#minha_foto {
    width: 100px;
    border-radius: 50%;
}

#link-externo {
    text-decoration: none;
    font-size: 16px;
    color: red;
}

#listas {
    margin-bottom: 30px;
    line-height: 30px;
}

#textos {
    margin-bottom: 100px;
}

#aprendizado aside {
    vertical-align: top;
}

.lado-esquerdo, .lado-direito {
    display: inline-block;
    padding: 15px;
    width: 40%;
}